<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
         <!-- Mobile specific meta-->
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone-no">

         <!--Google Font-->
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
       
        <!-- CSS files -->
        <link rel="stylesheet" href="css/plugins.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

<body>
<!-- BEGIN | Header -->
<div id="header-container"></div>
<!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img" placeholder="Set avatar">
						<img src="/user/{{user.id}}/image">
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro">
					<form th:action="@{/sign_up}" th:object="${user}" method="post">

						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<input type="text" name="username" th:field="$*{username}" placeholder="edwardkennedy">
								<div class="error-message" th:if="${#fields.hasErrors('username')}">
									<p th:errors="*{username}"></p>
								</div>
							</div>
							<div class="col-md-6 form-it">
								<label for="email">Email Address</label>
								<input type="email" name="email" th:field="$*{email}" required>
								<div class="error-message" th:if="${#fields.hasErrors('email')}">
									<p th:errors="*{email}"></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>First Name</label>
								<input type="text" name="firstName" th:field="$*{firstName}" placeholder="Edward ">
							</div>
							<div class="col-md-6 form-it">
								<label>Last Name</label>
								<input type="text" name="lastName" th:field="$*{lastName}" placeholder="Kennedy">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Password</label>
								<input type="password" name="password" th:field="$*{password}" placeholder="***************">
							</div>
						</div>
						<form action="/user/new" method="post" enctype="multipart/form-data" class="user">
							<input class="redbtn" type='file' name='image' accept=".jpg, .jpeg">
						</form>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="register">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<div id="footer-container"></div>
<!-- end of footer section-->

<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>

<script>
	$(document).ready(function () {
		$("#header-container").load("header.html");
		$("#footer-container").load("footer.html");
	});
</script>
</body>

</html>
